:root {
  --background-color: #f9f7fe;
  --primary-button-color: #6c63ff;
  --heading-font-familiy: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --logo-font-family: "Dancing Script", cursive;
  --logo2-font-family: "Pacifico", cursive;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-familiy);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

footer {
  justify-content: space-evenly;
}

.hero {
  background: var(--background-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  color: #272142;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-family: var (var(--heading-font-family));
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
}

.about-hero {
  padding: 160px 20px;

}

.about-hero h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-hero h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.about-section-content-style {
  margin: 30px;
}

.primary-button {
  background-color: var(--primary-button-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-brand-outline {
  color: var(--primary-button-color);
  border: 1px solid var(--primary-button-color);
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 30px;
}

.img-about {
  max-width: 560px;
}

.logo {
  font-family: var(--logo-font-family);
  font-weight: bolder;
  font-size: 40px;
}
.logo2 {
  font-family: var(--logo2-font-family);
  font-size: 40px;
}

.bg-theme {
  background-color: var(--background-color);
}

.project-description {
  padding: 120px 60px;
}

.icon-footer {
  color: var(--primary-button-color);
  font-size: 50px;
}
.link-footer {
  text-decoration: none;
  color: var(--primary-button-color);
}

@media (max-width: 960px) {
  body {
    background-color: var(--background-color);
  }
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 42px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .paragraph-top-responsive {
    padding: 40px;
  }
  .about-hero {
   padding: 80px 20px;
  }
  .about-hero h1 {
    font-size: 44px;
  }
  .about-section-content-style {
    text-align: center;
    padding: 0;
  }
  .img-about {
    text-align: center;
  }
}
